{% extends 'base.html' %}

{% block title %}album_list.html{% endblock %}

{% block content %}
  {% for item in object_list %}
    <div class="mt-5">
      <a href="{% url 'photo:album_detail' item.id %}">
        {{ item.name }}
      </a>
      &emsp;
      <span class="font-italic h5">{{ itme.description }}</span>
    </div>

    <hr style="margin: 0 0 20px 0;">

    <div class="row">
      {% comment %} slice : ":5" -> 앞에서부터 5개 객체를 출력 {% endcomment %}
      {% for photo in item.photo_set.all|slice:":5" %}
        <div class="col-md-2 mb-5">
          <div class="thumbnail">
            <a href="{{ photo.get_absolute_url }}">
              <img src="{{ photo.image.thumb_url }}" style="width: 100%;">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
