{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}photo_form.html{% endblock %}
{% block content %}
  <h1>Photo Create/Update -
    {{user}}</h1>
  <p class="font-italic">This is a creation or update form for your photo</p>

  {% if form.errors %}
    <div class="alert alert-danger">
      <div class="font-weight-bold">Wrong! Please correct the error below</div>
      {{ form.errors }}
    </div>
  {% endif %}
  {% comment %} is_multipart() 메소드는 폼이나 폼셋을 미리 체크해 multipart 인코딩이 필요한지 여부를 알려줍니다. {% endcomment %}
  {% comment %} 반환 값이 True면 enctype=multipart/form-data로 지정해야합니다. 이 코드에서는 폼에 이미지 필드가 있으므로 True를 반환합니다. {% endcomment %}
  {% comment %} multipart/form-data: 데이터가 변환되지 않고 그대로 서버로 전송됩니다. 파일이나 이미지 등의 바이너리 파일을 업로드할 때 사용 {% endcomment %}
  {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="" method="post" class="card pt-3">
  {% else %}
    <form action="." method="post" class="card pt-3">
  {% endif %}
  {% csrf_token %}
    <div class="form-group row">
      {{ form.album|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
      <div class="col-sm-5">{{ form.album|add_class:"form-control" }}</div>
      <div class="col-sm-2 my-auto">
        <a href="{% url 'photo:album_add' %}" class="btn btn-outline-primary btn-sm">Add Album</a>
      </div>
    </div>
    <div class="form-group row">
      {{ form.title|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
      <div class="col-sm-5">{{ form.title|add_class:"form-control"|attr:"autofocus" }}</div>
    </div>
    <div class="form-group row">
      {{ form.image|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
      <div class="col-sm-5">{{ form.image|add_class:"form-control-file" }}</div>
    </div>
    <div class="form-group row">
      {{ form.description|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
      <div class="col-sm-5">{{ form.description|add_class:"form-control"|attr:"rows:3" }}</div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-5">
        <input type="submit" value="Submit" class="btn btn-info"/>
      </div>
    </div>
  </form>
{% endblock %}
